@model IEnumerable<Prontuario_do_Paciente_Online.Models.UsuarioAcesso>;
@{
    ViewData["Title"] = "Usuários Cadastrados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@ViewData["Title"]</h2>


<div class="table">
    <div class="table-responsive">
        @if (Model.Any())
        {
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Usuario</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">E-mail</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tipo Acesso</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                @item.Usuario
                            </td>
                            <td class="align-middle">
                                @item.Email
                            </td>
                            <td class="align-middle">
                                @item.TipoAcesso.ToString()
                            </td>
                            <td class="align-middle position-relative">
                                <div class="dropdown position-static">
                                    <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Ações
                                    </button>
                                    <div class="dropdown-menu position-absolute" style="right: 0;">
                                        <a class="dropdown-item details-button" asp-route-id="#" asp-controller="#" asp-action="#">Editar</a>
                                        <a class="dropdown-item" href="#">Excluir</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Não existe dados para ser exibidos</p>
        }
    </div>
</div>
