@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.svg">
    <title>
        OnPront - Prontuário do Paciente Online
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-100">
    <div class="min-height-100 bg-default position-absolute w-100 mb-4"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" asp-controller="Home" asp-action="Index">
                <img src="/assets/img/Logo.svg" class="navbar-brand-img h-100" alt="main_logo">
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
            <ul class="navbar-nav">
                @if (User.IsInRole("Admin") || (User.IsInRole("Tecnologia")))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#submenu-administrativo">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-briefcase-24 text-primary text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Administrativo</span>
                        </a>
                        <ul class="navbar-nav collapse" id="submenu-administrativo">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Pacientes" asp-action="Create">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-fat-add text-info text-sm opacity-10"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">Cadastrar Pacientes</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Pacientes" asp-action="Index">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-zoom-split-in text-info text-sm opacity-10"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">Pacientes Cadastrados</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Tecnologia"))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#submenu-tecnologia">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-settings-gear-65 text-primary text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Tecnologia</span>
                        </a>
                        <ul class="navbar-nav collapse" id="submenu-tecnologia">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Tecnologia" asp-action="RegistrarUsuario">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-fat-add text-primary text-sm opacity-10 disabled"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">Cadastrar Usuario</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="tecnologia" asp-action="index">
                                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                        <i class="ni ni-single-02 text-primary text-sm opacity-10"></i>
                                    </div>
                                    <span class="nav-link-text ms-1">Usuarios Cadastrados</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Medico") || (User.IsInRole("Tecnologia")))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Prontuario" asp-action="Index">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-badge text-success text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Prontuario</span>
                        </a>
                    </li>
                }

                @if (User.IsInRole("Acompanhante"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Acompanhante" asp-action="Index">
                            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="ni ni-circle-08 text-warning text-sm opacity-10"></i>
                            </div>
                            <span class="nav-link-text ms-1">Acompanhante</span>
                        </a>
                    </li>
                }
               
            </ul>
        </div>
    </aside>
    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Paginas</a></li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                    <h6 class="font-weight-bolder text-white mb-0">@ViewData["Title"]</h6>
                </nav>
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav-item d-flex">
                        <li class="nav-link">
                            <span class="text-white">
                                <p>
                                    Olá, @User.Identity.Name.Split('@')[0]
                                </p>
                               
                            </span>
                        </li>
                        <li class="nav-link">
                            <form method="post" asp-controller="Login" asp-action="Logout">
                                <button type="submit" class="btn btn-link py-0 text-white color-background">
                                    <i class="fa fa-sign-out"></i> Sair
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav-item">
                        <li class="nav-link">
                            <a class="text-white card-background" asp-controller="account" asp-action="login">
                                <i class="fa fa-user"></i> Login
                            </a>
                        </li>
                    </ul>
                }



            </div>
        </nav>
        <div class="container-fluid py-4">

            @RenderBody()

        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>
</html>
