@{
    ViewData["Title"] = "Prontuario do paciente Online";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a @ViewData</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
