@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Bem vindo!</h1>
    <h2 class="display-4"> On Pront - Prontuário do Paciente Online</h2>
    <p>Projeto de conclusão de curso - Sistemas de informação</p>
</div>
