@model Prontuario_do_Paciente_Online.ViewModels.ProntuarioCreateViewModel;

<style>
    .btn-gray-background {
        background-color: gainsboro
    }

    .modal-dialog {
        max-width: 850px;
    }

    .modal-content {
        width: 100%;
        height: 830px;
    }

    .btn-gray-background {
        background-color: gainsboro;
    }

    .modal-fixed-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .limited-textarea {
        max-height: 200px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div id="modalInserirProntuario" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Inserir Prontuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="InserirProntuario" method="POST">
                    <input type="hidden" asp-for="Paciente.Id" />
                    <input type="hidden" asp-for="Medico.Nome" />
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" class="form-control btn-gray-background" value="@Model.Paciente.Nome" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="dataInternacao" class="form-label">Data de internação:</label>
                                <input type="date" class="form-control btn-gray-background" asp-for="Paciente.DataInternacao" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-control-label">Leito do paciente: </label>
                                <input asp-for="Quarto" class="form-control" required value="@ViewData["Quarto"]">
                                <span asp-validation-for="Quarto" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="medicoResponsavel" class="form-label">Médico Responsável:</label>
                                <select class="form-select" asp-for="Medico.Id" required>
                                    <option value="" selected>Selecione o seu cadastro</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-control-label">Status:</label>
                        <select class="form-control" name="EnumStatus" required>
                            <option value="" disabled selected>Selecione um status</option>
                            <option value="3">Estável</option>
                            <option value="2">Crítico</option>
                            <option value="1">Grave</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Diagnostico" class="form-label">Diagnóstico:</label>
                        <input asp-for="Diagnostico" class="form-control" rows="1" required value="@ViewData["Diagnostico"]">
                        <a href="http://tabnet.datasus.gov.br/cgi/sih/mxcid10lm.htm" style="font-size: x-small; font-style: italic;" target="_blank">Lista de Tabulação para Morbidade</a>
                    </div>

                    <div class="mb-3">
                        <label asp-for="AvaliacaoMedico" class="form-label">Avaliação do Médico Responsável:</label>
                        <textarea asp-for="AvaliacaoMedico" class="form-control limited-textarea" rows="6" required></textarea>
                    </div>
                    <div class="modal-fixed-footer">
                        <div class="modal-footer ">
                            <a href="@Url.Action("Index", "Prontuario")" type="button" class="btn btn-secondary btn-sm">Fechar</a>
                            <button type="submit" class="btn btn-success btn-sm">Adicionar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //carregar drop-down
    $(document).ready(function () {
        $.ajax({
            url: "/Prontuario/ObterTodosMedicos",
            type: "GET",
            dataType: "json",
            success: function (medicos) {
                let dropdown = $("#Medico_Id");
                dropdown.empty();

                dropdown.append($('<option>', {
                    value: "",
                    text: "Selecione o seu cadastro"
                }));

                $.each(medicos, function (i, medico) {
                    debugger;
                    dropdown.append($('<option>', {
                        value: medico.id,
                        text: "(" + medico.crm + ") Dr(a). " + medico.nome
                    }));
                });
                dropdown.show();
            }
        });
    });

</script>