@model Prontuario_do_Paciente_Online.ViewModels.CadastroAcessoViewModel;

@{
    ViewData["Title"] = "Cadastro de Usuário Interno";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Listagem de usuarios internos</h1>