@{
    ViewData["Title"] = "Pagina do Acompanhante";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Prontuário do Paciente</title>
</head>
<body>
    <h1>Prontuário do Paciente</h1>

    <label for="paciente">Paciente:</label>
    <input type="text" id="paciente" name="paciente">
    <br>
    <br>

    <label for="dataAtualizacao">Data de Atualização:</label>
    <input type="date" id="dataAtualizacao" name="dataAtualizacao">
    <br>
    <br>

    <label for="diagnostico">Diagnóstico:</label>
    <input type="text" id="diagnostico" name="diagnostico">
    <br>
    <br>

    <label for="avaliacaoMedica">Avaliação Médica:</label>
    <textarea id="avaliacaoMedica" name="avaliacaoMedica" rows="4"></textarea>
    <br>
    <br>

    <input type="button" value="Salvar">
</body>
</html>
